body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 50px;

}

.container{
    display: flex;

    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-top:100px;
    padding-bottom: 100px;
}
.container div{
    margin-top: 250px;
}
@keyframes shrink{
    0%{
       transform: scale(1);
    }
    100%{
        transform:scale(.1);
    }
}
.shrink:hover{
    animation: shrink 2s forwards;
    /* transform: scale(.1); */
}

@keyframes grow{
    0%{
        transform: scale(1)

    }
    100%{
        transform: scale(5)
    }
}

.grow:hover{
    animation: grow 2s forwards;
}
@keyframes jump{
    0%{
        transform: scale(1,1) translate(0,0) rotate(0deg);
    }
    25%{
        transform: scale(2,.5) translate(0,0) rotate(0deg);
    }

    75%{
        transform: scale(1,2) translate(0,-150px) 

    }
    
    100%{
        transform: scale(1,1) translate(0,0) rotate(0deg)
    }
}

.jump:hover{
    animation: jump 1.5s infinite linear
}

@keyframes d{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-25deg);
    }
    75%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes a{
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(3px);
    }
    75%{
        transform: translateX(-6px);
    }
    100%{
        transform: translateX(0);
    }

}

@keyframes n{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}


@keyframes c{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes e{
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(2);
    }
    100%{
        transform: scaleX(1);
    }
}
span{
    display: inline-block
}
.dance-body:hover .d{
    animation: d .5s infinite
}
.dance-body:hover .a{
    animation: a .5s infinite
}
.dance-body:hover .n{
    animation: n .5s infinite
}
.dance-body:hover .c{
    animation: c .5s infinite
}
.dance-body:hover .e{
    animation: e .5s infinite
}

